<div class="p-grid p-formgrid">
  <div class="p-field p-col-12 p-md-12 p-lg-8 p-lg-offset-2">
    <div class="p-p-4">
      <p-skeleton width="50%" height="2rem" borderRadius="8px"></p-skeleton>
      <p-divider styleClass="p-my-4"></p-divider>
      <p-skeleton width="50%" height="2rem" borderRadius="8px"></p-skeleton>
      <p-divider styleClass="p-my-4"></p-divider>
      <p-skeleton width="75%" height="2rem" styleClass="p-my-3" borderRadius="8px"></p-skeleton>
      <p-skeleton width="75%" height="2rem" styleClass="p-my-3" borderRadius="8px"></p-skeleton>
      <p-skeleton width="75%" height="2rem" styleClass="p-my-3" borderRadius="8px"></p-skeleton>
      <p-divider styleClass="p-my-4"></p-divider>
      <p-skeleton width="100%" height="4rem" borderRadius="8px"></p-skeleton>
    </div>
  </div>
</div>